body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 16px 47px 18px 50px;
    background-color: #D9D9D9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #000000;
    margin-right: 700px;
}
p {
    line-height: 1.6;
    color: #020202;
}